
*.xcworkspacedata

PermMissingElem/PermMissingElem.xcodeproj/project.pbxproj

PermMissingElem/PermMissingElem.xcodeproj/project.xcworkspace/xcuserdata/X.xcuserdatad/UserInterfaceState.xcuserstate

PermMissingElem/PermMissingElem.xcodeproj/xcuserdata/X.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

PermMissingElem/PermMissingElem.xcodeproj/xcuserdata/X.xcuserdatad/xcschemes/PermMissingElem.xcscheme

PermMissingElem/PermMissingElem.xcodeproj/xcuserdata/X.xcuserdatad/xcschemes/xcschememanagement.plist

TapeEquilibrium/TapeEquilibrium.xcodeproj/project.pbxproj

TapeEquilibrium/TapeEquilibrium.xcodeproj/project.xcworkspace/xcuserdata/X.xcuserdatad/UserInterfaceState.xcuserstate

TapeEquilibrium/TapeEquilibrium.xcodeproj/xcuserdata/X.xcuserdatad/xcschemes/TapeEquilibrium.xcscheme

TapeEquilibrium/TapeEquilibrium.xcodeproj/xcuserdata/X.xcuserdatad/xcschemes/xcschememanagement.plist
